{% extends 'base.html.twig' %}

{% block title %}AUTHORS{% endblock %}

{% block body %}
    <h1>List of authors</h1>

    <a href="{{ path('book_index') }}">To books list</a>
    ||
    <a href="{{ path('author_new') }}">Add a new author...</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name<a href="{{ path('author_sort', {'sort': 'asc'}) }}">▲</a><a href="{{ path('author_sort', {'sort': 'desc'}) }}">▼</a></th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.Name }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}">show</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">empty</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
