{% extends 'base.html.twig' %}

{% block title %}BOOKS{% endblock %}

{% block body %}
    <h1>List of books</h1>

    <a href="{{ path('author_index') }}">To authors list</a>
    ||
    <a href="{{ path('book_new') }}">Add a new book...</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title <a href="{{ path('book_sort', {'column': 'Label', 'sort': 'asc'}) }}">▲</a><a href="{{ path('book_sort', {'column': 'Label', 'sort': 'desc'}) }}">▼</a></th>
                <th>Author(-s) <a href="{{ path('book_authors', {'count': '1'}) }}">1</a> <a href="{{ path('book_authors', {'count': '2'}) }}">2</a> <a href="{{ path('book_authors', {'count': '3'}) }}">3</a> <a href="{{ path('book_authors', {'count': '4'}) }}">4</a> <a href="{{ path('book_authors', {'count': '5'}) }}">5</a></th>
                <th>Description</th>
                <th>Cover</th>
                <th>Publication year <a href="{{ path('book_sort', {'column': 'PubYear', 'sort': 'asc'}) }}">▲</a><a href="{{ path('book_sort', {'column': 'PubYear', 'sort': 'desc'}) }}">▼</a></th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.Label }}</td>
                <td>
                    ({{ book.Authors.count }}) 
                    {% for author in book.Authors %}
                        <a href="{{ path('author_show', {'id': author.id}) }}">{{ author }}</a>
                    {% endfor %}
                </td>
                <td>{{ book.Description }}</td>
                <td><img src="{{ asset(book.CoverPath)  }}" width="200"></td>
                <td>{{ book.PubYear }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">empty</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
